[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=FoxHunting
Exec=FoxHunting
Name=FoxHunting
# translation
# your app name in locale (ru)
Name[ru]=FoxHunting
