[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fox-hunting
Exec=harbour-fox-hunting
Name=Fox hunting
# translation
# your app name in locale (ru)
Name[ru]=Охота на лис
